@font-face {
    font-family: "RobotoThin";
    src: url("./res/Roboto-Thin.ttf");
}

@font-face {
    font-family: "RobotoLight";
    src: url("./res/Roboto-Light.ttf");
}

@font-face {
    font-family: "ComfortaaLight";
    src: url("./res/Comfortaa-Light.ttf");
}

body {
    background-color: #323033;
    padding: 0;
    color: white;
    font-family: "RobotoLight";
}